body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    padding: 20px;
}

h1 {
    color: #38bdf8;
}

.clocks {
    display: flex;
    height: min-content;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
}

.clock {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: fit-content;
    min-width: 72px;
    gap: 8px;
    background: #1e293b;
    padding: 12px;
    border-radius: 8px;
    margin: 8px 0;
    user-select: none;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.clock:hover {
    background: #3a4d6b;
    cursor: pointer;
}