<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Algoritmo de Berkeley</title>

    <link rel="stylesheet" href="/static/berkeley.css">

    <script src="/static/plotly.js" charset="utf-8"></script>
    <script src="/static/berkeley.js" defer></script>
</head>

<body>
    <div style="display: flex; flex-direction: column; gap: 24px;">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <h1>Algoritmo de Berkeley</h1>
            <div>
                <p>João Pedro</p>
                <p>Andrey Guilherme</p>
            </div>
        </div>

        <hr style="color: white; width: 100%;">

        <div style="display: flex; gap: 32px;">
            <div id="clocks" class="clocks"></div>
        </div>

        <div id="plot"></div>
    </div>
</body>

</html>